body {
  margin: 0;
  color: white;
  background-color:rgb(172, 211, 187);
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: rgb(43, 150, 182);
  font-weight: 700;
}

h1 {
  font-weight: 700;
  font-style: italic;
}

.welcome {
  margin: 5%;
}

h3 {
  font-weight: 700;
}

.login { 
  font-size: smaller;
  text-align: center;
  width: 55%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 2%;
  padding-bottom: 8%;
  padding-top: 3%;
  background-color: rgb(43, 182, 150);
  border-radius: 20px;
}

.login input {
  box-sizing: border-box;
  border-radius: 20px;
  border-style: none;
  padding: 3px;
}

.navbar {
  padding: 3%;
  background-color: rgb(43, 182, 150);
  color: black;
}

.nav-item {  
  font-size: xx-small;
  font-weight: 700;
  padding: 1px;
  margin:3%;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border-radius: 20px;
}

#main-nav {
  margin-left: 0px;
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
  color: white;
}

.question {
  font-size: xx-small;
  background-color:rgb(130, 196, 220);
  width: 50%;
  margin: auto;
  padding: 1%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 20px;
}

button {
  background-color: rgb(255, 255, 255);
  font-size: xx-small;
  color: rgb(43, 150, 182);
  border-radius: 20px;
  border-style: none;
  padding: 7px;
  
}

.navbar button {
  margin: 2%;
  margin-top: 1%;
}

.logout {
  float: right;
  font-size: x-small;
  margin-top: 1px;
}

.navbar p {
  margin-bottom: 1px;
  margin-top: 0px;
  color: white;
}

.profile {
  margin: 5%;
}

.profile-info {
  background-color:rgb(43, 182, 150);
  padding: 3%;
  border-radius: 20px;
}

.workout {
  float: left;
  font-size: xx-small;
  text-align: center;
  width: 30%;
  padding: 6px;
  background-color:rgb(204, 242, 219);
  color:rgb(43, 182, 150);
  margin: 15px;
  margin-right: 5px;
  padding-top: 0px;
  padding-bottom: 12px;
  border-radius: 20px;
}

.profile-workout {
  float: left;
  font-size: xx-small;
  text-align: center;
  width: 30%;
  padding: 3px;
  background-color:rgb(204, 242, 219);
  color:rgb(43, 182, 150);
  margin-right: 15px;
  padding-top: 0px;
  padding-bottom: 12px;
  border-radius: 20px;
  margin-bottom: 15px;
}

.workout-title {
  font-size: large;
  font-weight: 700;
  font-style: italic;
  margin-top: 7%;
  margin-bottom: 0px;
}

.community-page h1 {
  margin-bottom: 0px;
  margin-left: 3%;
  font-weight: 700;
  font-style: italic;
}

.delete-message {
  font-size: x-small;
  color: red;
}

.workout-form {
  text-align: center;
  margin: auto;
  width: 50%;
  background-color:rgb(43, 182, 150);
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 5%;
  border-radius: 20px;
}

.workout-form input {
  box-sizing: border-box;
  border-radius: 20px;
  border-style: none;
  padding: 3px;
}

.delete-button {
  margin-left: 2%;
  background-color:rgb(218, 131, 122);
  color: white;
}

.editing-workout {
  padding: 1%;
  padding-bottom: 3%;
  font-size: xx-small;
}

.editing-workout input[type=text] {
  box-sizing: border-box;
  border-radius: 20px;
  border-style: none;
  padding: 3px;
}

.editing-workout input[type=submit] {
  border-radius: 20px;
  border-style: none;
  padding: 7px;
  margin-top: 8%;
  background-color: white;
  color:rgb(43, 150, 182);
}

.errors {
  font-size: xx-small;
  margin: 2%;
  margin-top: 4%;
  padding: 1%;
  border-radius: 20px;
  color: rgb(157, 14, 14);
  background-color: rgb(249, 191, 191);
}

.success {
  font-size: xx-small;
  margin: 2%;
  margin-top: 4%;
  padding: 1%;
  border-radius: 20px;
  color: rgb(14, 157, 35);
  background-color: rgb(196, 249, 191);
}