body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.login { 
  font-size: smaller;
  text-align: center;
  width: 55%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 2%;
  padding-bottom: 10%;
  padding-top: 5%;
  background-color: rgb(182, 230, 214);
}

.navbar {
  padding: 3%;
  background-color: rgb(169, 224, 230);
  color: black;
}

.nav-item {  
  font-size: 18px;
  font-weight: 700;
  padding: 7px;
  margin:3%;
  text-decoration: none;
  color: rgb(66, 106, 118);
  background-color:rgb(190, 237, 217);
  border-radius: 20px;
}

#main-nav {
  margin-left: 0px;
  font-size: 32px;
  color: white;
  background-color:rgb(166, 225, 202);
}

.question {
  font-size: xx-small;
}

button {
  background-color: rgb(98, 155, 216);
  font-size: small;
  color: white;
  border-radius: 20px;
  border-style: none;
  padding: 7px;
  margin: 3%;
}

.logout {
  float: right;
  margin-top: 2%;
  font-size: x-small;
}
